<footer>
    <p>Weather Bytes &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Stay informed with the latest weather updates and stay safe out there! &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Created by Swati Tanu <i class="fas fa-heart"></i> </p>
</footer>